
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minions del Mar</title>
    <link rel="shortcut icon" href="minion_eye.ico" type="image/x-icon">
    <%- include("partials/head.ejs") %> 
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/darkly.css">
</head>

<body>
    <%- include ("partials/sidenav") %>
    <div class="main p-4"> 
        <%- include ("partials/navigation") %>

        <h1>Comidas Rapidas</h1>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">

                <% images.forEach(function (image) { %>

                    <% if (image.description == 'Rapidas') { %>    

                        <div class="card border-primary animate__animated animate__rubberBand" style="max-width: 11rem;">
                            <div class="card-header"><%= image.title %>
                                <div><a href="/image/<%= image._id %>/delete">Eliminar</a></div>
                            </div>
                            <img src="<%= image.path %>" class="img-fluid rounded-start" alt="..." style="width: 11rem; height: 8rem;">
                            <h6>$<%= image.precio %></h6>
                            <a href="/image/<%= image._id %>/add" class="btn btn-success d-md-block mb-1 mt-auto">Adicionar</a>
                        </div>

                    <% } %>

                <% }) %>
        </div>
    </div>

</body>

<%- include ("partials/footer") %>

</html>